/** @format */
@import './settings';
.ReactTable {
	&.react-table {
		border: none;
		.active {
			path {
				fill: red;
			}
		}
		.icon {
			border: 1px solid var(--color-scheme-black);
			border-left: none;
			height: 30px;
			width: 30px;
			background: var(--color-scheme-white);
			&.--arrow {
				height: 15px;
				width: 15px;
				border: none;
				background: transparent;
			}

			&--up--svg {
				border: none;
				background: transparent;

				// @include Animation;
			}
			&--down--svg {
				border: none;
				background: transparent;
				// @include Animation;
			}
		}
		// .rt-thead {
		// }
		.rt-tbody {
			> .rt-tr-group {
				> .-odd,
				> .-even {
					// 	background-color: var(--color-scheme-black);
					// 	color: #fff;
					padding: 10px 5px;

					.rt-td {
						border-right: none;
						padding: 10px 5px;
					}
				}
			}
			.rt-tr-group {
				&:hover {
					box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
				}
				.rt-td.group {
					display: none;
				}
			}
		}
	}
}

/**
 * /* scrolltop style s
 *
 * @format
 */

.long {
	display: none;
	width: 100%;

	&.scroll {
		display: block;
	}
	.scroll {
		z-index: 2;
		width: 52px;
		height: 52px;
		position: fixed;
		bottom: 10px;
		right: 10px;
		border-radius: 5px;
		border: none;
		color: #fff;
		border-color: transparent;
		background-color: #7773a8;
		font: 15px/1.35 Conv_Gotham Book Regular, Raleway, Lato, Helvetica, Arial,
			sans-serif;
		font-weight: 600;
		cursor: pointer;
		&:focus {
			outline: 0;
		}
		.fa-angle-up:before {
			font-size: 20px;
			font-weight: 800;
		}
	}
	.arrow-up {
		color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -9px;
		margin-left: -5px;
	}
}
/* scrolltop style e */

// search s

.searchForm {
	margin: 10px 0;
}

// search e

// nav styles s
.nav-item {
	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 3px;
		background: #2098d1;
		-webkit-transform: scale(0);
		transform: scale(0);
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}
	&:hover {
		&:before {
			-webkit-transform: scale(1);
			transform: scale(1);
		}
		.nav-menu {
			color: #fff;
			text-decoration: none;
		}
	}
}

// nav styles e
.container-ipaddress {
	display: grid;
	grid-template-columns: 20% 50% auto;
}
.input-wrapper {
	display: grid;
	grid-template-columns: 50% auto;
	align-items: center;
	grid-gap: 10px;
}
.spin {
	animation: App-logo-spin infinite 1s linear;
	left: 15px;
	position: relative;
}
.custom-dropdown {
	.btn {
		background-color: var(--color-scheme-white);
		color: var(--color-scheme-black);
		text-align: left;
		&:first-child {
			width: 150px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: none;
		}
		&:nth-child(2) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left: none;
		}
		&:focus,
		&:hover,
		&:active {
			outline: none;
			box-shadow: none;
			background: transparent;
			color: var(--color-scheme-black);
		}
	}

	.selected {
		background: var(--color-scheme-blue);
		color: var(--color-scheme-white);
	}
}
